* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

body {
}

button {
    cursor: pointer;
    border: none;
    transition: 150ms;
}

input {
    font-size: 16px;
    outline: none;
}

.wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.webapp-title-color-part {
    background: linear-gradient(90deg, rgb(141, 173, 255) 0%, rgb(84, 96, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.content {
    height: 100dvh;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    color: rgb(209, 220, 230);
}

.active-tab {
    background: rgb(92,127,221);
    background: linear-gradient(90deg, rgb(186, 205, 255) 0%, rgb(84, 96, 255) 100%);
    color: #fff;
}

.unloaded-view {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.fadeInFromBottom {
    opacity: 1 !important;
    transform:  translateY(0%) !important;
}