.login-view,
.signup-view {
    height: calc(100dvh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}


.form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 80%;
    max-width: 800px;
    height: 70%;
    border-radius: 40px;
    box-shadow: 0 10px 20px #e5e6eb;
    transition: 500ms;
}

.form:hover {
    scale: 1.025;
}

.user-info {
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
}

.user-info input {
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: #f5f5f5;
}

.user-info h1 {
    font-size: 40px;
    color: #3f3b55;
}

.user-info p {
    font-weight: 600;
    color: #3f3b55;
}

.user-info span {
    cursor: pointer;
    color: #6C63FF;
    text-decoration: underline;
}

.user-info button {
    padding: 10px 50px;
    margin: 0  auto;
    border-radius: 40px;
    background-color: #6C63FF;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.user-info button:hover {
    background-color: #3f3b55;
    
}

.form .image-wrapper {
    display: flex;
    align-items: center;
}

.form .image-wrapper img {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .form {
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }

    .user-info {
        width: 90%;
    }

    .form img {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .form {
        height: 100%;
    }
    .user-info {
        padding: 0;
    }

    .user-info input {
        padding: 6px;
    }
    
}