nav {
    padding: 15px 50px;
    display: flex;
    align-items: center;
    color: #3f3b55;
    justify-content: space-between;
}

nav h2 {
    color: #c2c9e7;
    font-size: 32px;
}

nav .tabs {
    display: flex;
    column-gap: 25px;
}

nav a {
    cursor: pointer;
    padding: 10px 20px;
    color: #c2c9e7;
    position: relative;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #fff;
}

nav a::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(255,136,174);
    background: linear-gradient(90deg, rgb(141, 173, 255) 0%, rgb(84, 96, 255) 100%);
    border-radius: 5px;
    transition: 250ms;
}

nav a:hover::before {
    width: 100%;
}

@media screen and (max-width: 600px) {
    
    
}